body {
  background-color: rgb(31, 27, 60);
  color: white;
  font-family: 'Josefin', sans-serif;
  font-size: 14px;
  line-height: 1.5rem;
  margin: 5px;
  padding: 5px;
  border: 5px;
  font-size: 100%;
  vertical-align: middle;
}

li {
  display: inline;
  width: 150px;
  margin: 10px;
  padding: 5px;
  border: 2px grey;
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  color: white;
  background: grey;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: white;
}
section.spacer{
  height: 60px;
  line-height: 3rem;
}

button{
  background:slateblue;
  font-family: Georgia, serif;
  font-size: 16px;
  color: white;
  padding:24px;

}
section.chart{
  margin: 30px;
  background: white;
  font-size: 14px;
}

section.footer {
  background-color: grey;
  color:  rgb(31, 27, 60);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 12px;
  padding: 10px;
  text-align: center;
}


